html{height:100%;}
body{padding:0;margin:0;font-size:1em;font-family:"Open Sans",sans-serif;height:100%;}
p{margin:0;padding:10px;}
a{text-decoration:none;color:#286dbe;}
a:active{outline:none;}
ul,
li{list-style:none;padding:0;margin:0;}

.ui-resizable{position:relative;}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0px;height:100%;}
.ui-resizable-handle{position:absolute;font-size:0.1px;display:block;}

::selection{background:#c9e075;color:#7ab322;}
::-moz-selection{background:#c9e075;color:#7ab322;}

#arriving,
#sections ul.section li.empty{vertical-align:middle;display:block;text-align:center;font-family:georgia,garamond,serif;font-style:italic;letter-spacing:.1ex;}

#arriving{height:100%;width:100%;position:absolute;top:0;left:0;background:#fff;color:#d3e5ed;font-size:5em;}

#header{text-align:center;height:62px;background:#39444d;}
/*#header #player #player_img{background:#404d56;border:1px solid #556470;float:left;width:50px;height:50px;margin:5px 0 0 5px;}*/

#player{background:#39444d;width:100%;position:absolute;bottom:0;overflow:hidden;}
#player .audiojs{box-shadow:none;background:none;width:100%;}
#player .audiojs .play-pause,
#player .audiojs .time{border-color:#505b65;}

#sections{font-size:.8em;}
#sections ul#nav{height:100%;background:#eaeef1;border-right:1px solid #b9c6cf;float:left;width:250px;}
#sections ul#nav li a{outline:none;color:#98a2a9;display:block;padding:18px 15px 12px 15px;border-bottom:1px solid #e3e9ec;}
#sections ul#nav li.topic a{text-transform:uppercase;letter-spacing:1px;font-weight:bold;padding-left:10px;}
#sections ul#nav li a:hover{background:#f0f3f5;}
#sections ul#nav li.ui-tabs-active{background-color:#e3e9ec;}

#sections .section{overflow-y:scroll;height:100%;}

#sections ul.section li{cursor:pointer;color:#5e6d79;background:#fff;display:block;}
#sections ul.section li span.year,
#sections ul.section li span.genre,
#sections ul.section li span.album,
#sections ul.section li span.artist{display:none;}

#sections ul.section.view-list li{border-color:#e7ebee;border-style:solid;border-width:1px 0;margin:-1px 0;padding:14px 5px 13px 5px;}
#sections ul.section.view-list li span.picture{display:block;float:right;width:43px;height:43px;overflow:hidden;margin:-13px -4px 0 0;}
#sections ul.section.view-list li span.picture img{max-width:43px;max-height:43px;}
#sections ul.section.view-list li span.title{}
#sections ul.section.view-list li span.artist{font-style:italic;padding-left:10px;font-size:.7em;letter-spacing:.3ex;}
#sections ul.section.view-list li span.play{color:#fff;margin:-14px 0 -13px -5px;padding:14px 10px 13px 10px;}
#sections ul.section.view-list li.over{background:#f8fff0;color:#3a6a00;}
#sections ul.section.view-list li.over span.play{color:#d9e999;}
#sections ul.section.view-list li.over span.play.over{color:#3a6a00;}
#sections ul.section.view-list li.empty{cursor:default;background:#fff;color:#eaeef1;font-size:3em;border:none;margin:0;}
#sections ul.section.view-list li.current span.play{color:#2e79c6;}

#sections ul.section.view-grid li{float:left;width:156px;height:210px;padding:20px 0 0 20px;text-align:center;overflow:hidden;background:none;}
#sections ul.section.view-grid li span.picture{display:block;width:150px;height:150px;background:#39444d;border:3px solid #39444d;border-radius:5px;overflow:hidden;text-align:center;}
#sections ul.section.view-grid li span.picture img{height:150px;}
#sections ul.section.view-grid li span.play{display:none;height:150px;vertical-align:middle;line-height:150px;width:150px;margin-top:-150px;font-size:4em;text-align:center;color:#fff;text-shadow:black 0 0 0.2em;}
#sections ul.section.view-grid li.over span.play{display:block;}
#sections ul.section.view-grid li.current span.play{display:block;color:#d5edf8;}
#sections ul.section.view-grid li span.title{display:block;padding:3px 0;color:#39444d;}
#sections ul.section.view-grid li span.artist{display:block;color:#98a2a9;font-style:italic;font-size:.7em;letter-spacing:.3ex;}


