html{height:100%;}
body{padding:0;margin:0;font-size:1em;font-family:"Open Sans",sans-serif;height:100%;}
p{margin:0;padding:10px;}
a{text-decoration:none;color:#286dbe;}
a:active{outline:none;}
ul,
li{list-style:none;padding:0;margin:0;}

.ui-resizable{position:relative;}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0px;height:100%;}
.ui-resizable-handle{position:absolute;font-size:0.1px;display:block;}

::selection{background:#c9e075;color:#7ab322;}
::-moz-selection{background:#c9e075;color:#7ab322;}

#arriving,
#sections ul.section.view-list li.empty,
#sections ul.section.view-grid li.empty{vertical-align:middle;display:block;text-align:center;font-family:georgia,garamond,serif;font-style:italic;letter-spacing:.1ex;}

#arriving{height:100%;width:100%;position:absolute;top:0;left:0;background:#fff;color:#d3e5ed;font-size:5em;}

#header{text-align:center;height:62px;background:#39444d;}

#header ul.views{padding-top:10px;}
#header ul.views li{display:inline;font-size:1.6em;padding:0 5px;}
#header ul.views li a{color:#566e92;}
#header ul.views li a.active,
#header ul.views li a:hover{color:#6686bb;text-shadow:0px 0px 5px #6e93d0;}
/*#header #player #player_img{background:#404d56;border:1px solid #556470;float:left;width:50px;height:50px;margin:5px 0 0 5px;}*/

#player{background:#39444d;width:100%;position:absolute;bottom:0;overflow:hidden;}
#player .audiojs{box-shadow:none;background:none;width:100%;}
#player .audiojs .play-pause,
#player .audiojs .time{border-color:#505b65;}

#sections{font-size:.8em;}
#sections ul#nav{height:100%;background:#eaeef1;border-right:1px solid #b9c6cf;float:left;width:250px;}
#sections ul#nav li a{outline:none;color:#98a2a9;display:block;padding:16px 15px 14px 15px;border-bottom:1px solid #e3e9ec;}
#sections ul#nav li.topic a{text-transform:uppercase;letter-spacing:1px;font-weight:bold;padding-left:10px;text-shadow: 0px 1px 2px #fff;}
#sections ul#nav li a:hover{background:#f0f3f5;}
#sections ul#nav li.ui-tabs-active{background-color:#e3e9ec;}

#sections .section{overflow-y:scroll;height:100%;}

#sections ul.section li{cursor:pointer;color:#5e6d79;background:#fff;display:block;}
#sections ul.section li.empty{cursor:default;background:#fff;color:#eaeef1;font-size:3em;border:none;margin:0;}
#sections ul.section li span.year,
#sections ul.section li span.genre,
#sections ul.section li span.album,
#sections ul.section li span.artist{display:none;}

#sections ul.section.view-list li.song{border-color:#e7ebee;border-style:solid;border-width:1px 0;margin:-1px 0;padding:4px 5px 3px 5px;overflow:hidden;}
#sections ul.section.view-list li.song span.picture{display:block;float:right;width:22px;height:22px;overflow:hidden;margin:-3px -4px -2px 0;background:#eee;}
#sections ul.section.view-list li.song span.picture img{max-width:22px;max-height:22px;}
#sections ul.section.view-list li.song span.title{}
#sections ul.section.view-list li.song span.album{display:block;font-style:italic;padding:4px 10px 0 0;font-size:.7em;letter-spacing:.3ex;float:right;}
#sections ul.section.view-list li.song span.artist{display:inline;font-style:italic;padding-left:10px;font-size:.7em;letter-spacing:.3ex;}
#sections ul.section.view-list li.song span.play{color:#fff;padding:1px 5px 1px 5px;margin-right:5px;}
#sections ul.section.view-list li.song.over{background:#f8fff0;color:#3a6a00;}
#sections ul.section.view-list li.song.over span.play{color:#fff;border-radius:10px;background:#d9e999;}
#sections ul.section.view-list li.song.over span.play.over{color:#3a6a00;}
#sections ul.section.view-list li.song.current span.play{color:#2e79c6;}

#sections ul.section.view-grid li.song{float:left;width:156px;height:210px;padding:20px 0 0 20px;text-align:center;overflow:hidden;background:none;}
#sections ul.section.view-grid li.song span.picture{display:block;width:150px;height:150px;background:#39444d;border:3px solid #39444d;border-radius:5px;overflow:hidden;text-align:center;}
#sections ul.section.view-grid li.song span.picture img{height:150px;border-radius:5px;}
#sections ul.section.view-grid li.song span.play{display:none;height:150px;vertical-align:middle;line-height:150px;width:150px;margin-top:-150px;font-size:4em;text-align:center;color:#fff;text-shadow:black 0 0 0.2em;}
#sections ul.section.view-grid li.song.over span.play{display:block;}
#sections ul.section.view-grid li.song.current span.play{display:block;color:#d5edf8;}
#sections ul.section.view-grid li.song span.title{display:block;padding:3px 0;color:#39444d;}
#sections ul.section.view-grid li.song span.artist{display:block;color:#98a2a9;font-style:italic;font-size:.7em;letter-spacing:.3ex;}

